// SIZES
@SM_BOW_WIDTH: 20px; 
@SM_BOW_HEIGHT: 20px;
@LG_BOW_WIDTH: 150px;
@LG_BOW_HEIGHT: 50px;

@SM_ROSE_WIDTH: 100px; 
@SM_ROSE_HEIGHT: 50px;
@LG_ROSE_WIDTH: 150px;
@LG_ROSE_HEIGHT: 50px;

@BUTTERFLY_WIDTH: 150px;
@BUTTERFLY_HEIGHT: 50px;

.deco {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    border: 1px solid blue;
}

#palette {
    [data-type="sm_bow"] {
        background-color: black;
    }
    [data-type="bow"] {
        background-color: black;
    }
    [data-type="rose"] {
        background-color: black;
    }
    [data-type="bouquet"] {
        background-color: black;
    }
    [data-type="butterfly"] {
        background-color: black;
    }
}

.hover {
    border: 1px solid white;
}

.selected {
    border: 1px solid orange;
}

