// fonts
@DECORATIVE_FONT: "Wire One", Helvetica, Arial, sans-serif;
@HEADER_FONT: "Quicksand", Helvetica, Arial, sans-serif;
@BODY_FONT: Georgia, Times, serif;

@HEADER_TEXT_SIZE: 32px;
@NAV_TEXT_SIZE: 28px;