@LAYOUT_PADDING: 3%;

html, body {
    height: 100%;
}

#container {
    height: 95%;
    position: relative;
    border-top: 4px solid steelblue;
}

.left_col {
    height: 100 - 2*@LAYOUT_PADDING;
    width: 22 - 2*@LAYOUT_PADDING;
    float: left;
    z-index: 100;
    // border: 1px solid black;
    padding: @LAYOUT_PADDING;
}

.main_col {
    height: 100 - 2*@LAYOUT_PADDING;
    width: 49 - 2*@LAYOUT_PADDING;
    padding: @LAYOUT_PADDING;
    min-width: 445px;
    float: left;
    position: relative;
    // border: 1px solid black;
}

.right_col {
    float: left;
    width: 22- 2*@LAYOUT_PADDING;
    padding: @LAYOUT_PADDING;
    height: 100 - 2*@LAYOUT_PADDING;
    // border: 1px solid black;
}

.top_nav {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 100;
    // border: 1px solid black;
}

.bottom_nav {
    width: 100%;
    position: absolute;
    bottom: 0px;
    // z-index: -100;
    // border: 1px solid black;
}