// SIZES
@NAV_SM_TIER_WIDTH: 100px; 
@NAV_SM_TIER_HEIGHT: 50px;

@NAV_LG_TIER_WIDTH: 125px;
@NAV_LG_TIER_HEIGHT: 50px;

.nav_tier {
    // the looks goes here
    background-color: beige;
}

.small_tier {
    width: @NAV_SM_TIER_WIDTH;
    height: @NAV_SM_TIER_HEIGHT;
}

.large_tier {
    width: @NAV_LG_TIER_WIDTH;
    height: @NAV_LG_TIER_HEIGHT;
}